@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
}

a:hover, a:focus {
  color: var(--color-link-hover);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}