#app {
  font-weight: normal;
}

.mini-label .accept {
  color: var(--critical-call-to-action);
}

a.critical {
  color: var(--critical-call-to-action);
}

a.normal {
  color: var(--color-link-hover);
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--color-text);
}

a:hover, a:focus,
.mini-label .accept:hover, .mini-label .accept:focus {
  color: var(--color-link-hover);
}
.mini-label .commands {
  display: flex;
  justify-content: space-between;
}

.mini-label input::placeholder {
  color: var(--color-border-hover)
}
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label-marker{
  font-size: 14px;
  padding: 8px;
  background: var(--color-background)
}
.label-marker input[type="text"] {
  padding: 0;
  text-align: center;
}
#map .mapboxgl-popup-content, #map .maplibregl-popup-content {
  padding: 0;
}
#map .mapboxgl-popup-anchor-bottom .maplibregl-popup-tip { border-top-color: var(--color-background); }
#map .mapboxgl-popup-anchor-top .maplibregl-popup-tip { border-bottom-color: var(--color-background); }
#map .mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: var(--color-background); }
#map .mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: var(--color-background); }